body{
    margin: 0;
    padding: 0;
    background: #e5e5e5;
}
.search{
    position: absolute;
    top:50%;
    left:94%;
    transform: translate(-50%,-50%);
    background: black;
    padding: 20px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
}
.submit{
    font-size: 10px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    
}
.search-txt{
    width: 0;
    font-size: 30px;
    border: none;
    background: transparent;
    outline: none;
    transition: 1s;
}
::placeholder{
    color: rgba(0, 0, 0, 0.252);
}
.active{
    background: white;
}
.active .submit{
    color: black;
    float: right;
}
.active .search-txt{
  width: 350px;
  padding: 0 20px;
}